<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css" media="all"/>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <p> <%= @title %> <%= @sampled_content%> </p>
    <p> <%= @quot_for_page%> </p>
  </div>
  <div class="date">
    <p> <%="Сьогодні: #{@today}" %> </p>
  </div>
  <div class="social-icons">
    <a href="#" class="social-icon facebook" target="_blank"></a>
    <a href="#" class="social-icon twitter" target="_blank"></a>
    <a href="#" class="social-icon linkedin" target="_blank"></a>
  </div>
</body>
</html>

