@import url('https://fontsforyou.com/fonts/h/Handform.ttf');


body {
  background-image: url("sunflowers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; 
  font-family: "Handform";
}

p {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.date,
.social-icons {
  position: absolute;
  padding: 10px;
}

.date {
  bottom: 0;
  left: 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0; 
}

.social-icon {
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.facebook {
  background-image: url("facebook-icon.png");
  background-color: #3b5998;
}

.linkedin {
  background-image: url("linkedin-icon.png");
  background-color: #0077b5;
}

.social-icon:hover {
  background-color: #333;
}




