@import url('https://fontsforyou.com/fonts/h/Handform.ttf'); /* импортирует шрифт с сайта*/


body {
  background-image: url("sunflowers.jpg");
  background-size: cover; /* размер фон изображения, cover - покрывает весь экран*/
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px; /* Убирает отступы от тела страницы */
  background-attachment: fixed;  /* Устанавливает фоновое изображение так, чтобы оно оставалось фиксированным при прокрутке страницы */
  font-family: "Handform";
}

/* иконки соц. сетей */
.social-icons {
  position: absolute; /* позиционирование элемента, который позволяет точно задать положение элемента на веб-странице относительно окна браузера или родительского контейнера*/
  top: 0;
  right: 0;
  display: flex; 
  align-items: center;
  padding: 10px; /* отступы внутри контейнера */
}

.social-icon {
  display: block; /* тип отображения элемента, блочный(есть инлайн, флекс(внутри контейнера)...) */
  width: 40px;
  height: 40px;
  margin: 0 10px 10px 0;
  border-radius: 50%; /* округление краев */
  transition: background-color 0.3s ease-in-out; /* для анимации, background-color цвет после наведения, 0.3s длительность анимации, easy in out функция смягчения анимации */
}

.github {
  background-image: url("R.png");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("linkein.png");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .social-icon:hover {
  background-color: #ffffff;
} */

/* Цытаты */
.center-container {
  position: absolute;
  top: 330px; 
  left: 750px;
  /* transform: translate(620px, 350px); */ /* расположение элемента относительно краев страницы, не работает перенос */
  text-align: center;
}

.center-quote {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  white-space: normal; /* перенос слов */
}

.center-author {
  position: absolute;
  top: 450px; 
  left: 1350px;
  text-align: center;
}

.under-quote-author {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  white-space: normal;
}

.date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: left;
}
